---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import AnimeList from '../components/AnimeList.astro'


const GetAnimeList = async () => {
    const baseUrl = new URL('https://api.jikan.moe/v4/anime')
	baseUrl.searchParams.append('sfw', 'true')
	baseUrl.searchParams.append('type', 'tv')
	baseUrl.searchParams.append('status', 'airing')
	baseUrl.searchParams.append('limit', '25')
	baseUrl.searchParams.append('min_score', '1')
	baseUrl.searchParams.append('sort', 'desc')
	baseUrl.searchParams.append('order_by', 'rating')

	const response = await fetch(baseUrl)

	const responseJson = await response.json()

	return responseJson.data
}

const animeData = await GetAnimeList();
---

<Layout title="Astro - Animes en emisión">
	<main class="m-auto max-w-6xl text-center">
		<Title></Title>
		<AnimeList animeData={animeData}></AnimeList>
		
	</main>
</Layout>
<script is:inline src="../utils/querys.js"></script>